body {
  font-family: "Open Sans", sans-serif;
  width: 90%;
  margin: 0 auto;
}
#name {
  border-bottom: 1px solid lightblue;
}
#heading {
  font-family: "Sacramento", cursive;
  text-transform: none;
  font-weight: 400;
  font-size: 3em !important;
}
#techSimilarWIth {
  /* padding: 20px; */
  margin-bottom: 20px;
}
#skills {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;

  background-color: #f3f4f6;
}
.heading {
  text-align: center;
}
#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#introText {
  color: rgb(71, 68, 68);
  text-align: justify;
}
#intro img {
  width: 33.33%;
  height: 33.33%;
}
#projects{
  margin-bottom: 20px;
}
#intro p {
  width: 66.66%;
  font-size: 21px;
}
#rightSection {
  text-align: right;
}
nav {
  background-color: #41b0bf !important;
  color: white;
  margin-bottom: 20px;
}
nav p{
  margin: 0;
  padding: 10px;
}
.card {
  border-radius: 20px;
  padding: 10px;
  background-color: #f3f4f6;
  text-align: center;
  padding-bottom: 15px;
}
footer {
  text-align: center;
  margin-bottom: 30px;
}
.socialMediaImages{
margin:5px
}
.customButton {
  height: 35px;
  width: auto;
  background-color: #41b0bf !important;
  border-radius: 15px;
  color: white;
  border: none;
}
.cardHeading{
   font-size: 18px;
   font-weight: bold;
}
button:hover{
  background-color: #054f59 !important;
  transition: 0.5s;
}
#cardTechStack{
 font-weight: bold;
}
@media only screen and (max-width: 600px) {
  #skills {
    flex-direction: column;
    text-align: center;
  }
  #intro {
    flex-direction: column;
  }
  #intro p {
    font-size: 18px;
    width: 100%;
  }
  #intro img {
    width: 100%;
  }
  .customButton {
    height: 30px;
  }
}
